<section class="error-page">
    <div class="error-box">
        <div class="error-body text-center">
            <!-- <h1>CANCEL</h1> -->
            <h3 class="text-uppercase">Proceso de Pago Cancelado !</h3>            
            <br>
            <button [routerLink]="['/']" class="px-2 py-1 ml-auto text-white bg-orange-500 rounded hover:bg-orange-700">
                Volver a Inicio
            </button>
        </div>
        <br>
        <footer class="footer text-center">© {{ year }} Invitaciones Happy Checho.</footer>
    </div>
</section>