<section class="text-gray-600 body-font">
  <div class="container px-5 py-5 mx-auto">
    <div class="flex flex-wrap -m-4">
      @for (model of models(); track $index) {
      <section class="overflow-hidden text-gray-600 body-font">
        <div class="container px-5 py-5 mx-auto">
          <div class="flex flex-wrap mx-auto lg:w-5/5">
            <iframe width="560" height="315" [src]="model?.video | safe" frameborder="0" allowfullscreen></iframe>
            <div class="w-full mt-6 lg:w-1/2 lg:pl-10 lg:py-6 lg:mt-0">
              <h2 class="text-sm tracking-widest text-gray-500 title-font">{{model?.category_title}} </h2>
              <h1 class="mb-1 text-3xl font-medium text-gray-900 title-font">{{model?.title}}</h1>
              <div class="flex mb-4">
                <span class="flex items-center">
                  @for (star of starsArray; track index; let index = $index) {
                  <span [innerHTML]="generateSVG(index)"></span>
                  }
                  <span class="ml-3 text-gray-600"> {{model?.rating?.count}} reviews</span>
                </span>
              </div>
              <p class="mt-6 mb-5 leading-relaxed ">{{model?.description}}</p>
              <div class="flex">
                <span class="text-2xl font-bold text-orange-500 ">{{model?.price | currency}}</span>
                <button [routerLink]="['/orders', model?.id]"
                  class="px-2 py-1 ml-auto text-white bg-orange-500 rounded hover:bg-orange-700">
                  Realizar Invitación
                </button>
              </div>
            </div>
          </div>
        </div>
      </section>
      }
    </div>
  </div>
</section>