<div class="p-4 mt-2 mb-6 overflow-hidden rounded-b-lg shadow-none hover:shadow-xl">
  <a class="relative block h-48 overflow-hidden rounded" [routerLink]="['/products', category().id]">
    <img class="w-full transition duration-500 transform hover:scale-105" src="{{ category().image }}"
      alt="{{ category().title }}" />
  </a>
  <div class="mt-1">
    <h2 class="py-4 text-lg font-medium text-gray-900 title-font">
      <a [routerLink]="['/products', category().id]">{{ category().title | slice : 0 : 30 }}
      </a>
    </h2>
    <div class="flex items-center justify-between mt-1">
      <button [routerLink]="['/products', category().id]"
        class="px-2 py-1 text-white bg-orange-500 rounded hover:bg-orange-700">
        Ver Invitaciones
      </button>
    </div>
  </div>
</div>